appdirs==1.4.0
args==0.1.0
clint==0.5.1
compare==0.2b0
Django==1.11.6
gitdb2==2.0.0
GitPython==2.1.1
legit==0.4.1
MySQL-python==1.2.5
numpy==1.22.0
packaging==16.8
pandas==0.20.3
pyparsing==2.1.10
python-dateutil==2.6.1
python-memcached==1.58
pytz==2017.2
six==1.10.0
smmap2==2.0.1
