{% load staticfiles %} {% load i18n %}
<!-- footer-->
<footer id="sub-footer">
  <div class="container">
    <div class="col-sm-11 wow fadeInLeft" data-wow-delay="0.3s">
      <p>{% trans "This website is developed by Titli Sarkar and " %}
        <a href="http://seshagiriprabhu.wordpress.com/" target="_blank">
          Seshagiri Prabhu
        </a>
        <br/>{% trans "Guided by " %}
        <a href="http://www.ucs.louisiana.edu/~vvr3254/" target="_blank">
            Dr. Vijay Raghavan
        </a>
        {% trans ", Center for Advanced Computer Studies, " %}
        <a href="https://louisiana.edu/" target="_blank">
            University of Louisiana at Lafayette
        </a>
        <br> {% trans "&copy; 2017 TSR 3D Protein System" %}
      </p>
    </div>
    <!-- col-sm-2 -->
    <div class="col-sm-1">
      <a id="gototop" class="gototop" href="#">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
    <!-- col-sm-1 -->
  </div>
  <!-- container -->
</footer>
