{% extends 'static/base.html' %}
{% block title %}Search by Protein ID{% endblock title %}

{% block header_title %}
<h2 class="wow fadeInDown">
    <i class="fa fa-search"></i> Search by Protein ID
</h2>
{% endblock header_title %}
{% block script %}
<script type="text/javascript">

function list3Changed()
    {
      var str="",i;
      for (i=0;i<displayform.list3.options.length;i++) {
          if (displayform.list3.options[i].selected) {
              str = str + displayform.list3.options[i].value + " ";
          }
      }
      document.getElementById("demo3").innerHTML = 'Selected choice from list: '+str;
    }

</script>
{% endblock script %}

{% block body %}
<form name="displayform" method="POST" action="{% url 'search_by_pid_result' %}">{% csrf_token %}
    <h2 align="center">Do You Want to search all keys by Protein IDs?</h2>
    <br>
	<label><b>Select PDB IDs you want to search for common keys: </b></label>i
    <select id="list3" name="list3" size=5 style="min-width: 200px" multiple="multiple" onclick='list3Changed(this.value);'>
            <option  disabled selected>Select</option>
            <option value="1bo1" >1bo1</option>
            <option value="1ia9" >1ia9</option>
            <option value="1e8x" >1e8x</option>
            <option value="1cja" >1cja</option>
            <option value="1nw1" >1nw1</option>
            <option value="1j7u" >1j7u</option>
            <option value="1cdk" >1cdk</option>
            <option value="1o6l" >1o6l</option>
            <option value="1omw" >1omw</option>
            <option value="1h1w" >1h1w</option>
            <option value="1tki" >1tki</option>
            <option value="1jkl" >1jkl</option>
            <option value="1a06" >1a06</option>
            <option value="1phk" >1phk</option>
            <option value="1kwp" >1kwp</option>
            <option value="1ia8" >1ia8</option>
            <option value="1csn" >1csn</option>
            <option value="1gng" >1gng</option>
            <option value="1hck" >1hck</option>
            <option value="1jnk" >1jnk</option>
            <option value="1how" >1how</option>
            <option value="1lp4" >1lp4</option>
            <option value="1muo" >1muo</option>
            <option value="1o6y" >1o6y</option>
            <option value="1f3m" >1f3m</option>
            <option value="1b6c" >1b6c</option>
            <option value="2src" >2src</option>
            <option value="1luf" >1luf</option>
            <option value="1ir3" >1ir3</option>
            <option value="1m14" >1m14</option>
            <option value="1gjo" >1gjo</option>
	    </select>
      <br><br><br>
      <br>
    <p id="demo3"></p>
    <div style="text-align:center;">
        <input type="submit" value="RUN THE COMPARISON" style="margin:30px auto; display:block;" />
    </div>
</form>
{% endblock %}
