{% extends 'static/base.html' %}
{% load i18n %} {% load staticfiles %}
{% block title %}Sequence numbers{% endblock title %}

{% block header_title %}
<h2 class="wow fadeInDown">
    <i class="fa fa-bars"></i> Sequence Numbers
</h2>
{% endblock header_title %}

{% block body %}
<h1 align="center">Sequence numbers of the protein {{ s }} are:</h1>

<div clas="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Sequence IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for seq in i %}
            <tr>
                <td>{{ seq.Seq_ID }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
