{% extends 'static/base.html' %}
{% block title %}Select the Seq{% endblock title %}

{% block header_title %}
<h2 class="wow fadeInDown">
    <i class="fa fa-search"></i> Select the Sequences
</h2>
{% endblock header_title %}

{% block script %}
<script type="text/javascript">

function list4_1Changed()
    {
      var str="",i;
      for (i=0;i<displayform.list4_1.options.length;i++) {
          if (displayform.list4_1.options[i].selected) {
              str = str + '<span class="badge badge1">' 
                  + displayform.list4_1.options[i].value + '</span> ';
          }
      }
        document.getElementById("demo4").innerHTML = 'Selected choice(s) from list: ' + str ;
    }

</script>
{% endblock script %}

{% block body %}
<br/><br/>
<form name="displayform" method="POST" action="{% url 'search_by_pid_seq_search_result' %}">{% csrf_token %}
    <div class="centered">
        <h4>Select three sequences which you want to search in the Protein {{ pid }}</h4>
        <code>Press CTRL and click to select multiple from the list</code>
        <br/><br/>
        <input type="hidden" value="{{ pid }}" name="pid">
        <select id="list4_1" name="list4_1" size=10 style="min-width:500px" 
            multiple="multiple" onclick='list4_1Changed(this.value);'>
            {% for seq_dict in seq_list %}
            {% for key, values in seq_dict.items %}
            <option value="{{ values }}" >{{ values }}</option>
            {% empty %}
            <option value="">Failed to fetch values from database</option>
            {% endfor %}
            {% endfor %}
        </select>
        <br><br>
        <p id="demo4"></p>
        <br><br>
        <div class="row">
            <button type="submit" class="btn btn-primary"
                name="small_table">
                <i class="fa fa-search"></i> Demo Table
            </button>
            <button type="submit" class="btn btn-primary"
                name="big_indexed_table">
                <i class="fa fa-search"></i> Big Indexed Table
            </button>
            <button type="submit" class="btn btn-primary"
                name="big_indexed_table">
                <i class="fa fa-search"></i> Big Not Indexed table
            </button>
        </div><!--row-->
    </div><!--centered-->
</form>
<br/><br/>
<div class="row">
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        Demo Table contains dummy values made for the project demonstration
        </br/>
    </div><!--alert-->
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        Big Tables contains TSR keys which is selected based on two conditions: 
        Mean Absolute Deviation &#60;= 0.01 and Document Frequency &#60; 6</br/>
    </div><!--alert-->
</div><!--row-->
{% endblock %}
