{% extends 'compare/base.html' %}

{% block head %}
<style>
.buttonHolder{ text-align: center;
				margin-top: 200px;
             }
</style>
{% endblock %}

{% block bodyy %}
<h1 align="center">TSR Protein Database System</h1>
<div class="buttonHolder">
<form action="/compare/display/" method="post"> {% csrf_token %}
  <input value="Compare  By  ID" name="Choice_1" type="submit">
 or
    <input value="Compare By Hierarchy Level" name="Choice_2" type="submit">
    or
    <input value="Search keys by Protein Ids" name="Choice_3" type="submit">
 </form>
</div>

{% endblock %}